@font-face {
    font-family: 'TH K2D';
    src: url('TH K2D July8.ttf') format('truetype');
    font-style: normal;
}

* {
    font-family: 'TH K2D';
}

nav {
    display: flex;
    align-items: flex-end; /* ให้ทุกแท็บแนบชิดติดเส้นขอบด้านล่าง */
    list-style: none; /* เอาจุดหน้า li ออก */
    padding: 0;
    margin: 0;
    width: 100%;
}

nav li {
    margin-left: 0px;
    flex: 1;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color: #002d62;
    font-weight: normal;
}
.Iot1 {
    background-color: #78C0E6; 
    border-radius: 30px 30px 0 0;
    border-right: 2px solid #161942;
    padding: 25px 50px;
    z-index: 2; /* ให้อยู่ด้านบนสุด */
    position: relative;
}

.Iot1 a {
    color: #161942;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); /* เงาบางๆ ให้ตัวอักษรดูมีมิติ */
}

/* Tab ที่ 2, 3, 4: Inactive */
.Iot2, .continuous, .poTopoEgg {
    background-color: #184274; /* สีน้ำเงินเข้ม */
    border-radius: 20px 20px 0 0;
    padding: 15px 30px;
    box-shadow: inset 0px 8px 15px rgba(0, 0, 0, 0.2); /* เงาด้านในให้ดูเป็นมิติเว้าลง */
}

.Iot2 a, .continuous a, .poTopoEgg a {
    color: #e8ebcd; /* สีตัวอักษรออกเหลือง/ครีมอ่อนๆ */
    font-size: 18px;
}

h1 {
    background-color: #78C0E6;
    color: white;
    text-align: center;
    padding: 40px 0px;
    font-size: 60px;
    font-weight: normal;
    margin: 0px;
}

.NameEng {
    font-size: 30px;
    font-weight: normal;
}

.WhatIsIoT {
    padding: 10px 10% ;
    line-height: 1.8;
    background-color: white;
    text-align: left;
    font-size: 25px;
}

.money {
    background-color: #161942; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.money1 { font-size: 25px; }
.money2 { font-size: 75px; font-weight: normal; color: #fff; }
.money3 { font-size: 25px; }

.careerH {
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 10% 20px;
}
.career {
    display: none;
    padding: 1px 10% 20px;
    background-color: #fff;
}
.career.show {
    display: block;
}
.careerH .plus img {
    transition: transform 0.3s ease;
}
.careerH.active .plus img {
    transform: rotate(45deg); 
}
.plus img {
    width: 25px;
}
.CareerContent ul {
    display: grid;
    list-style: none;
    font-size: 23px;
    gap: 10px;
}

.CareerContent li::before {
    content: "•";
    color: #333;
    margin-right: 10px;
}

.gallery {
    background-color: #F3E6A2; /* พื้นหลังสีเหลืองนวลตามรูป */
    padding: 50px 20%;
}

.imgList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.imgList div img {
    width: 100%;
    max-width: 600px;
    border-radius: 30px; /* ขอบมนโค้งตามรูป */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    display: block;
}
