@font-face {
    font-family: 'TH K2D';
    src: url('TH K2D July8.ttf') format('truetype');
    font-style: normal;
}

* {
    font-family: 'TH K2D';
}

nav {
    display: flex;
    align-items: flex-end; /* ให้ทุกแท็บแนบชิดติดเส้นขอบด้านล่าง */
    list-style: none; /* เอาจุดหน้า li ออก */
    padding: 0;
    margin: 0;
    width: 100%;
}

nav li {
    margin-left: 0px;
    flex: 1;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color: #002d62;
    font-weight: normal;
}
.poTopoEgg {
    background-color: #78C0E6; 
    border-radius: 30px 30px 0 0;
    border-right: 2px solid #161942;
    padding: 25px 50px;
    z-index: 2; /* ให้อยู่ด้านบนสุด */
    position: relative;
    width: 40%;
}

.poTopoEgg a {
    color: #161942;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); /* เงาบางๆ ให้ตัวอักษรดูมีมิติ */
}

.Iot1, .Iot2, .continuous {
    background-color: #184274;
    border-radius: 20px 20px 0 0;
    padding: 15px 0px;
    box-shadow: inset 0px 8px 15px rgba(0, 0, 0, 0.2);
    width: 20%;
}

.Iot1 a, .Iot2 a, .continuous a {
    color: #e8ebcd; /* สีตัวอักษรออกเหลือง/ครีมอ่อนๆ */
    font-size: 18px;
}

h1 {
    background-color: #78C0E6;
    color: white;
    text-align: center;
    padding: 40px 0px;
    font-size: 60px;
    font-weight: normal;
    margin: 0px;
}

.NameEng {
    font-size: 30px;
    font-weight: normal;
}

.WhatIsIoT {
    padding: 10px 10% ;
    line-height: 1.8;
    background-color: white;
    text-align: left;
    font-size: 25px;
}

.poToContent {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 15px;           
    padding: 40px 20px;
    flex-wrap: wrap;       
}
.poToContent details {
    width: 180px;            
    background-color: #fceea7; 
    border-radius: 20px;
    text-align: center;
    border: 2px solid #78C0E6 ;
    overflow: hidden;       
    transition: all 0.3s ease;
    padding: 0px 5px 5px;
    font-size: 20px;
}
summary {
    list-style: none;       
    padding: 15px 0px;      
    text-align: center;     
    cursor: pointer;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

}

summary::-webkit-details-marker {
    display: none;
}

.gallery {
    background-color: #F3E6A2;
    padding: 50px 20%;
}

.imgList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.imgList div img {
    width: 100%;
    max-width: 600px;
    border-radius: 30px; /* ขอบมนโค้งตามรูป */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    display: block;
}
